<div class="users cover">
  <% if user_signed_in? && @user == current_user %>
    <h1 class="posts-title">マイページ</h1>
  <% else %>
    <h1 class="posts-title"><%= @user.name %>のページ</h1>
  <% end %>

    <% if user_signed_in? && @user == current_user %>
      <div class="d-flex justify-content-end">
        <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-success" %>
      </div>
      <div class="d-flex mt-3 justify-content-end">
      <%= link_to "退会", user_path(current_user.id), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: "本当に退会しますか？" } %>
      </div>
    <% end %> 

    <% if current_user != @user %>
      <% if current_user.following?(@user) %>
        <p class="d-flex justify-content-end">
          <%= link_to "フォローを外す", user_relationships_path(@user.id), data: { turbo_method: :delete }, class: "btn btn-danger" %>
        </p>
      <% else %>
        <p class="d-flex justify-content-end">
          <%= link_to "フォローする", user_relationships_path(@user.id), data: { turbo_method: :post }, class: "btn btn-primary" %>
        </p>
      <% end %>
    <% end %>

    <div class="d-flex w-100">
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, size: '100x100', class: "mb-3 profile-img" %>
      <% else %>
        <%= image_tag asset_path("no_image.svg"), size: '100x100', class: "mb-3 profile-img" %>
      <% end %>
      <h4 class="ml-3 mb-3 card w-100 profile"><%= @user.profile %></h4>
    </div>

    <div class="d-flex justify-content-center">
      <%= link_to follows_user_path(@user) do %>
        <h6>フォロー<%= @following_users.count %></h6>
      <% end %>
      <%= link_to followers_user_path(@user) do %>
        <h6>フォロワー<%= @follower_users.count %></h6>
      <% end %>
    </div>

  <% @posts.each do |post| %>
    <div class="post-item">
      <div class="d-flex justify-content-between align-items-center post-head w-100">
        <h3 class="mb-0 post-title">
          <%= link_to post.title, team_category_post_path(post.team, post.category, post) %>
        </h3>
        <div class="d-flex gap-2 post-actions">
          <%= render "posts/progress_badge", post: post %>
          <% if post.completed? %>
            <%= button_to "進捗に戻す",
                          uncomplete_team_category_post_path(post.team, post.category, post),
                          method: :patch,
                          class: "btn btn-sm btn-uncomplete" %>
          <% end %>
          <span class="posts-meta"><%= "#{post.comments.count} コメント" %></span>
        </div>
      </div>

      <div class="d-flex flex-wrap gap-2">
        <p class="caption mb-0">チーム: <%= post.team&.name %></p>
        <p class="caption mb-0">カテゴリー: <%= post.category&.name %></p>
      </div>

    </div>
  <% end %>

  <div class="pagination-wrapper">
    <%= paginate @posts %>
  </div>
</div>
