<%# 完了　カテゴリー作成で投稿へ%>

<div class="cover">
  <div class="container d-flex flex-column align-items-center">
    <div class="row mt-5 w-100 justify-content-center">
      <div class="col-12 col-md-8">
        <h1>カテゴリーを作成</h1>
        <%= form_with model: [@team, @category], local: true do |f| %>

          <% if @category.errors.any? %>
            <div class="card text-center text-white bg-danger mt-3">
              <%= @category.errors.count %>件のエラーが発生しました
              <% @category.errors.full_messages.each do |message| %>
                <%= message %>
              <% end %>
            </div>
          <% end %>
          
          <h4>カテゴリー名</h4>
          <div class="d-flex align-items-center gap-2 w-100 mb-3">
            <%= f.text_field :name, class: "form-control flex-grow-1" %>
            <%= f.submit "カテゴリーを作成する", class: "btn btn-light border" %>
          </div>
          <div class="mt-3 w-100 text-start">
            <%= link_to "カテゴリー一覧に戻る", team_categories_path(@team), class: "btn btn-primary" %><br>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>